# SPDX-License-Identifier: Apache-2.0

menu "Oresat MCXN947 Mag Card"

	config DAC_INTF
		bool "Enable DAC output."
		select DAC
		help
		  Enable use of DAC.

	config ADC_INTF
		bool "Enable monitoring one or more ADC channels."
		select ADC
		select DMA
		select ADC_STM32 if SOC_STM32F091XC
		select ADC_STM32_DMA if SOC_STM32F091XC
		select DMA_STM32 if SOC_STM32F091XC
		help
		  Outputs the data scaled to mV.

	if ADC_INTF

		config SEQUENCE_SAMPLES
			int "Number of samples to be made on the sequence for each channel."
			default 1

   	config SEQUENCE_OVERSAMPLING
   		int "Number of conversion results to average for each sample."
   		default 7

		config SEQUENCE_RESOLUTION
			int "Set the resolution of the sequence readings."
			default 12

		config SEQUENCE_32BITS_REGISTERS
			bool "ADC data sequences are on 32bits"
			default n

	endif  # ADC_INTF

config PWM_INTF
	bool "Enable PWM output."
	select PWM
	help
	  Enable use of PWMs.

config BLINK
	bool "Blink an LED"
	default y
	help
	  Enable the thread which blinks an LED.

config MAG
	bool "Enable magnetometer sampling and transfer"
	default y
	help
	  Enable the Magnetometer handling.

config IMU
	bool "Enable IMU sampling and transfer"
	default y
	help
	  Enable the IMU handling.

config MAGNETORQUERS
	bool "Enable magetorquer control"
	default y
	select DAC_INTF
	select ADC_INTF
	select PWM_INTF
	help
	  Enable the driving the magnetorquers from CAN requests.

	if MAGNETORQUERS && SHELL

	   config MAGNETORQUER_EXPLORE
		   bool "Enable interaction with target_uA or PWM while monitoring current."
		   help
			 If The shell is also enabled, provide interactive means to experiment
			 with various target currents or pwm output, while onboard ADC
			 current measurements provide feedback.

	endif	# MAGNETORQUERS


config CAN_INTF
	bool "Enable sending CAN packets."
	default y
	select CAN
	select CANOPENNODE
	select USE_STM32_HAL_FLASH if SOC_STM32F091XC
	select USE_STM32_HAL_FLASH_EX if SOC_STM32F091XC
	select USE_STM32_HAL_CAN if SOC_STM32F091XC
	help
	  Enable CAN interface and send data from CO_OD.

	if CAN_INTF && !SOC_STM32F091XC

		config MCUBOOT_ALLOWED
			bool "MCUboot allowed."
			default y
			select BOOTLOADER_MCUBOOT
			select MCUBOOT_GENERATE_UNSIGNED_IMAGE
			select FLASH
			select FLASH_MAP
			select STREAM_FLASH
			select IMG_MANAGER
			select MCUBOOT_GENERATE_CONFIRMED_IMAGE
			select CANOPENNODE_PROGRAM_DOWNLOAD
			help
			  Define helper symbol CONFIG_MCUBOOT_ALLOWED for all supported
			  architectures that have room for the required partitions in flash
			  and have those partitions defined in the device tree. This
			  eliminates the need for the user to either change prj.conf to
			  enable MCUBOOT or provide an EXTRA_CONF_FILE option to west that
			  names an overlay file.

		config CAN_ID_MUST_BE_SET
			bool "Do not contine if CAN node id not set."
			default y
			help
			  If enabled, do not perform normal functions if CAN node id
			  is not stored in settings.

	endif


endmenu

source "Kconfig.zephyr"
